*,
::after,
::before {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 100vh;
    margin: 0 auto;
}

.steps__list {
    position: relative;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    overflow: visible;
}

.steps__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps__title {
    margin-bottom: 30px;

    font-size: 28px;
    text-transform: uppercase;
    text-align: center;

    cursor: default;
}

.steps__number-wrap {
    position: relative;
}

.steps__number {
    position: absolute;
    left: 50%;
    bottom: 50%;
    
    transform: translate(-50%, 50%);
    
    font-size: 45px;
    color: #ffffff;
    color: #000;

    cursor: default;
}

.steps__circle {
    display: inline-block;
    width: 120px;
    height: 120px;

    /* background: #85D5F8; */
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #000000;
}

.arrow {
    position: absolute;
    top: 70%;

    background-color: #000000;
}

.arrow--first {
    left: 182px;
    
    /* width: 500px; */
    height: 5px;
}

.arrow--second {
    left: 802px;

    /* width: 507px; */
    height: 5px;
}

.steps__item--first {
    opacity: 0;
    transition: all 0.5s;
}

.steps__item--second {
    /* position: relative; */
    
    opacity: 0;

    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;

    /* outline: 1px solid tomato; */
}

.steps__item--third {
    opacity: 0;

    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.arrow--first {
    opacity: 0;

    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.arrow--second {
    opacity: 0;

    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.opacity {
    opacity: 1;
}

@keyframes widthAnimation {
    0% {
        width: 0;
    }

    100% {
        width: 507px;
        opacity: 1;
    }
}

@keyframes itemAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Diagno images */

.diagno-images {
    position: absolute;
    top: -150%;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.diagno-image-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0;
    
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.diagno-image-title {
    text-align: center;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.link-back {
    display: inline-block;
    
    margin-top: 15px;
    margin-left: 5px;
    
    opacity: 0;
    
    transform: rotate(90deg);
    
    border: none;
    background-color: transparent;

    transition: all 0.3s;
}

.link-back:hover {
    opacity: 1;
}